* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    color: white;
    width: 1170px;
    margin: auto;
    text-align: center;
    padding: 50px;
    font-size: 4rem;
    background-color: rgb(119, 20, 165);
    border-radius: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 110px;
    height: 110px;
    margin: 10px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    

}

.fizz {
    background-color: crimson;
}

.buzz {
    background-color: darkslategrey;
}

.fizzbuzz {
    background-color: greenyellow;
}